/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(img/sativa.png);
    color: #333;
}


.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 30px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
}
.hero {
    height: 400px;
    background-image: url(img/alienware-Hpaq-kBcYHk-unsplash.jpg);
    background-size: cover;
    background-position: 0 -80px;
    border-bottom: 5px solid gray;
    border-top: 5px solid gray;
}
.satu {
    padding: 20px;
}
.satu p {
    margin-bottom: 20px;
    font-size: 14px;
}
.content {
    padding: 20px;
    margin-top: -50px;
}

.content h2 {
    font-size: 20px;
   font-weight: bold;
   padding: 20px;
}

.content .penulis {
    height: 280px;
    background-image: url(img/cpu.jpg);
    background-size: cover;
    background-position: 0 -80px;
    border-bottom: 5px solid gray;
    border-top: 5px solid gray;
}
.content .penulis a {
    color: salmon;
    text-decoration: none;
}
.content .casing {
    height: 280px;
    width: 400px;
    background-image: url(img/casing.jpg);
    background-size: cover;
    background-position: 0 -280px;
    
}
.content .motherboard {
    height: 280px;
    width: 500px;
    background-image: url(img/motherboard.jpg);
    background-size: cover;
    background-position: 0 -280px;
}
.content .ram {
    height: 280px;
    width: 400px;
    background-image: url(img/RAM.jpg);
    background-size: cover;
    background-position: 0 -280px;
}
.content .data {
    height: 280px;
    width: 500px;
    background-image: url(img/sdd.jpg);
    background-size: cover;
    background-position: 0 -280px;
}
.content .grafis {
    height: 280px;
    width: 500px;
    background-image: url(img/vga.jpg);
    background-size: cover;
    background-position: 0 -20px;
}
.content .optical {
    height: 280px;
    width: 500px;
    background-image: url(img/optical.jpg);
    background-size: cover;
    background-position: 0 -20px;
}
.content .os {
    height: 300px;
    width: 300px;
    background-image: url(img/oss.jpg);
    background-size: cover;
    background-position: 0 -10px;
}

.content p {
    margin-bottom: 20px;
    font-size: 14px;
}
.content .satu {
    padding: 0px;
}
.content ul li {
    margin-left: 50px;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}
